{{> header}}
<div class="content">
    {{> menu }}
    <section id="viewSubmit">
        <div class="submitArea">
            <h1>Submit Link</h1>
            <p>Please, fill out the form. A thumbnail image is not required.</p>
        </div>
        <div class="submitArea formContainer">
            {{> createForm}}
        </div>
    </section>
</div>
{{> footer}}